<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar-header.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placehold.it/100" alt="">
            <div class="profile__name">Lorem Lorem</div>
            <div class="profile__prof">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio veritatis ex tenetur corrupti rerum laborum harum accusamus asperiores!</div>
            <ul class="social">
                <li class="social__item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/inst.svg" alt="Ivan Kobekin inst">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/vk.svg" alt="Ivan Kobekin inst">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social_link" href="#" target="_blank">
                        <img src="../assets/images/print.svg" alt="Ivan Kobekin inst">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam minus, sapiente sit quibusdam corporis unde. Nulla veritatis vitae recusandae alias? Nesciunt, soluta. Quod iure corrupti ullam sapiente quidem eaque!</p>
            </div>
        </div> <!-- /.sidebar__profile -->
   </div>   <!-- /.sidebar__content -->
    <div class="sidebar__footer">
        <a class="btn btn--red"href="works.html">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div> 
</aside>